.gallery-container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 1fr 2fr 1fr; */
  gap: 1rem;
  margin: 1.5rem;
}

.gallery-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

/* .gallery-item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/4;
} */

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
  }
}
