* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.window {
  background-color: rgb(192, 192, 192);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  border-radius: 5px;
}

h1 {
  background: linear-gradient(
    to right,
    rgba(10, 35, 109, 1) 0%,
    rgba(163, 204, 245, 1) 100%
  );
  color: white;
  font-size: medium;
  padding: 0.3rem 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.content {
  padding: 0.3rem 1rem;
  margin-top: 0.6rem;
  display: flex;
}

.content img {
  /* border-radius: 50%;
  box-shadow: 2px 2px 4px; */
  filter: drop-shadow(2px 2px #7d7d7d);
  image-rendering: pixelated;
}

.content p {
  margin: auto;
}

button {
  background-color: rgb(192, 192, 192);
  display: block;
  margin: 1rem 1.8rem 1rem auto;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  border: 3px outset;
  border-bottom: 3px solid rgb(40, 40, 40);
  border-right: 3px solid rgb(40, 40, 40);
}

button:active {
  border-style: inset;
}

.border {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid rgb(67, 66, 66);
  border-right: 2px solid rgb(67, 66, 66);
}
