body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
}

.nav-links {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  /* gap: 2rem; */
  list-style: none;
  padding: 0;
  margin: 0;
  height: 50px;
}

/* li:nth-child(1) {
  flex-grow: 2;
} */

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links li:hover {
  background-color: salmon;
  color: black;
}
