* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* External style */
h1 {
  color: blue;
  padding: 10px;
  border: 2px solid;
  margin: 20px;
}

#my-unique-id {
  color: green;
}

.paragraph-class {
  color: darkorange;
  font-size: 1rem;
}

div {
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    letter-spacing: 5px;
    border: 5px dotted black;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 10px;
    border: 3px solid blue;
  }
}
